<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Courses studio</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ml-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              class="use-avatar"
              src="https://scontent.fsgn2-5.fna.fbcdn.net/v/t39.30808-6/314734138_3470157139974701_1196683337150141940_n.jpg?stp=cp6_dst-jpg&_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=-1H_FWhUglcAX-xg-7M&_nc_ht=scontent.fsgn2-5.fna&oh=00_AfBoDrzr_CmYJZQauP9_HPNFbjxmjCj6jhy_3Z53yYma7g&oe=644999FB"
              alt="Minh Nhật"
            />
            Minh Nhật
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/me/stored/courses">Thông tin cá
                nhân</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="/me/stored/courses">Khóa học của
                tôi</a></li>
            <li><a class="dropdown-item" href="/courses/create">Đăng khóa học</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>